* {
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: #E3EDF8;
}

div.contenedor {
    padding: 1rem 2rem;
}

div.contenedor-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
}

header {
    background-color: #1565C0;
    border-bottom: 0.5rem solid #0D47A1;
}

img.logo {
    margin-right: 2rem;
    height: 100px;
}

header h1 {
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    font-family: Arial, Helvetica, sans-serif;
}

main h2, main h3 {
    margin: 1rem 0 1.5rem 0;
    color: #1565C0;
    font-family: Arial, Helvetica, sans-serif;
}

main h4 {
    margin: 0.75rem 0 1rem 0;
    color: #0f4a8d;
    font-family: Arial, Helvetica, sans-serif;
}

main ul{
    margin: 2.5rem 0 2.5rem 2.5rem;
}

main p,
main li a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none
}

main p,
main li {
    margin-bottom: 0.5rem;
    color: #0B1623
}

main li {
    color: #1976D2;
}

main li a,
main li a:hover,
main li a:active,
main li a:focus,
main li a:visited {
    position: relative;
    display: inline-block;
    color: #1976D2;
    cursor: pointer;
}

main li a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    /* Grosor del subrayado */
    background-color: #FBC02D;
    /* Color del subrayado */
    transition: width 0.5s ease;
    /* Duración y función de la transición */
}

main li a:hover::before {
    width: 100%;
    /* Ancho completo */
}


table{
    border-collapse: collapse;
}

table tr:nth-child(even){
    background-color: white;
}

table tr:nth-child(odd){
    background-color: #e7e7e7;
}   

table th, table td{
    padding: 0.25rem 0.5rem; 
    border: 1px solid #CCC;
}