body {
    background-color: #2974A9;
}

header {
    width: 100%;
    min-height: 120px;

    background-color: #1565C0;
}

header div.container {
    display: flex;

    justify-content: space-between;
    flex-wrap: wrap;

    margin: 0 auto;
    width: 100%;
    min-width: 500px;

    gap: 2rem;
}

@media screen and (min-width: 950px) {
    header div.container {
        width: 80%;
        min-width: 1000px;
    }
}

header div.container img {
    margin: 0 auto;
    height: 100px;
}

@media screen and (min-width: 950px) {
    header div.container img {
        margin: 0 0;
    }
}

header div.container h1 {
    margin: 15px 0px;
    padding: 1.25rem 0rem;

    min-width: 100%;

    color: #0068A5;
    font-family: Verdana, Arial, sans-serif;
    font-size: calc(1.5em + 1vw);
    letter-spacing: 2px;

    text-align: center;
    text-transform: uppercase;
}

@media screen and (min-width: 950px) {
    header div.container h1 {
        min-width: 50%;
    }
}

nav {
    display: flex;
    justify-content: center;

    width: 100%;
    min-width: 500px;

    background-color: #1769c7;
}

nav ul {
    display: block;

    width: 100%;
    height: 100%;
}

@media screen and (min-width: 950px) {
    nav ul {
        display: flex;
        width: 80%;
    }
}

nav li {
    margin-right: 0px;
    padding-left: 20px;

    height: 100%;

    background-color: #166aca;

    overflow: hidden;
}

@media screen and (min-width: 950px) {
    nav li {
        padding-left: 0px;
        margin-right: 10px;

        display: block;
    }
}

nav li a,
nav li a:active,
nav li a:visited,
nav li a:hover {
    display: block;

    padding: 20px;

    width: 100%;
    height: 100%;

    color: white;
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
    text-transform: uppercase;
}

nav li:hover {
    background-color: #176fd3;
}

div.main-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    width: 100%;
    min-height: 800px;

    background-color: #BFD6E7;
}

article {
    width: 100%;

    background-color: white;
}

@media screen and (min-width: 950px) {
    article {
        width: 80%;
    }
}

section.contenido {
    padding: 2rem;
}

section.opciones {
    width: 80%;
    padding: 15px;
    background-color: white;
}

footer {
    width: 100%;
    height: 200px;

    background-color: #075791;
}


h2 {
    margin: 10px 0px;
    color: #0068A5;
    font-family: Verdana, Arial, sans-serif;
    font-size: 24px;
}

h3 {
    margin: 30px 0px;
    color: #0068A5;
    font-family: Verdana, Arial, sans-serif;
    font-style: italic;
}

p {
    margin-bottom: 20px;

    color: #666;

    font-family: Arial, sans-serif;
    font-size: 14px;
    text-align: justify;
    text-decoration: none;

    line-height: 1.5;
}

article ul li a,
article ul li a:visited {
    color: black;

    font-family: Arial, sans-serif;
    font-size: 18px;
    text-align: justify;
    text-decoration: none;

    line-height: 1.5;
}

article ul li a:hover {
    cursor: pointer;
}

article ul {
    margin-bottom: 20px;

    list-style-type: disc;
    list-style-position: inside;
}

article ul li a:active,
article ul li a:hover {
    color: #0068A5;
    text-decoration: underline;
}

.resultados {
    margin-bottom: 10px;

    color: black;
    font-family: monospace;
    font-size: 18px;
    text-align: justify;
    text-decoration: none;
}

code {
    font-family: monospace;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.25
}

h1 {
    color: blue;
}

table {
    border-collapse: collapse;
}

th,
td {
    padding: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border: 1px solid black;
}

.msj {
    margin: 1rem;
    padding: 0.5rem 1rem;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

    border-radius: 6px;
}

.msj.info {
    color: rgb(44, 51, 144);
    background-color: rgb(196, 236, 250);
    border: 1px solid rgb(44, 51, 144);
}

.msj.alerta {
    color: darkred;
    background-color: pink;
    border: 1px solid darkred;
}


div.cuadrado {
    margin: 1rem 2rem;
    width: 200px;
    height: 200px;
    background-color: red;
    border: 5px solid black;
    border-radius: 8px;
}

div.cuadrado-responsive {
    margin: 1rem 2rem;
    width: 200px;
    height: 200px;
    background-color: red;
    border: 5px solid black;
    border-radius: 8px;
}

@media screen and (min-width: 400px) and (max-width: 700px) {
    div.cuadrado-responsive {
        background-color: yellow;
    }
}

@media screen and (min-width: 701px) and (max-width: 1000px) {
    div.cuadrado-responsive {
        background-color: green;
    }
}

@media screen and (min-width: 1001px) {
    div.cuadrado-responsive {
        background-color: blue;
    }
}