.resultados{
    margin-bottom: 10px;
    
    color: black;
    /*font-family: monospace;*/
    font-size: 18px;
    text-align: justify;
    text-decoration: none;
}

div.cuadrado{
    margin: 10px 0px;
    
    width: 150px;
    height: 150px;
    
    border: 5px solid black;
}

div.verde{
    background-color: green;
}

div.rojo{
    background-color: red;
}

div.azul{
    position: absolute;
    background-color: blue;
}
